<div class="page-container">
  <div class="content-wrap">
    <div class="banner">

    </div>
      <div class="container">
        <div class="row">
          <div class="col-sm grid-item">
            <a href="shoes#index">WOMENS</a>
          </div>
          <div class="col-sm grid-item">
            <a href="shoes#index">MENS</a>
          </div>
          <div class="col-sm grid-item">
            <a href="shoes#index">KIDS</a>
          </div>
        </div>
      </div>
<!--     <div class="container">
      <div class="row">
        <div class=".col-xs-6 .col-md-4 grid-item">
          <a href="shoes#index">WOMENS</a>
        </div>
        <div class=".col-xs-6 .col-md-4 grid-item">
          <a href="shoes#index">MENS</a>
        </div>
        <div class=".col-xs-6 .col-md-4 grid-item">
          <a href="shoes#index">KIDS</a>
        </div>
      </div>
    </div> -->
  </div>
  <footer class="page-footer">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-10 mt-md-0 mt-3">
          <div class="social-icons">
            <%= image_tag "twitter.png", class: "social-img", width: 50 %>
            <%= image_tag "facebook (1).png", class: "social-img", width: 50 %>
            <%= image_tag "instagram.png", class: "lsocial-img", width: 50 %>
          </div>
        </div>
        <div class="col-md-2 mb-md-0 mb-3 help">
          <h5 class="text-uppercase">NEED HELP?</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!">take a look at our <strong>help center</strong></a>
            </li>
            <li>
              <a href="#!">or <strong>contact us</strong></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>



