.page-footer {
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #C4C4C4;
  color: black;
  text-align: center;
  padding: 20px;
}

.help {
  text-align: end;
}

a {
  text-decoration: none;
}

.social-icons {
  padding-top: 15px;
}
